# Python virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Mac or Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
